<h1>Web FizzBuzz Spiel</h1>
<p>Ausgabe aller Zahlen von 1 – 100 und Ausgabe der Teilbarkeit durch 3 und 5.</p>

<p> Fizz-Name: <%= @fizz_name %><br>
Buzz-Name: <%= @buzz_name%><br>
Fizz Nummer: <%= @fizz_number%><br>
Buzz Nummer: <%= @buzz_number %><br>
Max Nummer: <%= @max_number%></p>

<table border="1">
	
<tr align="center">
  	<td>Zahl: <%= @max_number %></td>
	<td>Teilbar durch <%= @fizz_number%></td>
	<td>Teilbar durch <%= @buzz_number%></td>
	<td>Fizzbuzz</td>
</tr>

<% 1.upto(@max_number) do |x| %>
<tr> 
  <td> <%= x %></td>
 
  <td> <%= x%@fizz_number == 0 ? "x" : "" %> </td>
  
  <td> <%= x%@buzz_number == 0 ? "x" : "" %> </td>
  
  <td>  </td>

</tr>
<% end %>

</table>