<h1>Fizz # Buzz</h1>
<p>Ausgabe der Variablen: </p>
<p> Fizz-Name: <%= @fizz_name %><br>
Buzz-Name: <%= @buzz_name%><br>
Fizz Nummer: <%= @fizz_number%><br>
Buzz Nummer: <%= @buzz_number %><br>
Max Nummer: <%= @max_number%></p>


<table border="1">
  
<tr align="center">
    <td>Zahl: <%= @max_number %></td>
  <td>Teilbar durch <%= @fizz_number%></td>
  <td>Teilbar durch <%= @buzz_number%></td>
  <td>IzzyBizzy</td>
</tr>

<% 1.upto(@max_number) do |x| %>
<tr <%= color_chooser(x) %> align="center">

  <td> <%= x %></td>
  
  <td> <%= x%@fizz_number == 0 ? "x" : "" %> </td>
  
  <td> <%= x%@buzz_number == 0 ? "x" : "" %> </td>
  
  <td> <%= fizzy(x) %> </td>

</tr>
<% end %>

</table>